@import '~@angular/material/theming';

.btn-clipboard {
  height: 30px;
  width: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1E1E1E;
}
