:host {
  #{'/deep/'} {
    table {
      border-spacing: 0;
      border-collapse: collapse;
      margin-bottom: 16px;
    }

    table th,
    table td {
      padding: 6px 13px;
      border: 1px solid #ddd;
    }

    table tr:nth-child(2n) {
      background-color: rgba(0,0,0,0.03);
    }

    blockquote {
      padding: 0 1em;
      color: rgba(0,0,0,0.535);
      border-left: 0.25em solid rgba(0,0,0,0.11);
    }
  }
}