# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/inline-template
/package
/tmp
/out-tsc
*.ngfactory.ts
*.ngsummary.json
*.tgz
*.tar

# dependencies
/node_modules

# IDEs and editors
*.launch
*.sublime-workspace
.c9/
.classpath
.project
.settings/
/.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings
npm-debug.log
test-results.xml
testem.log
yarn-error.log

# System Files
.DS_Store
Thumbs.db
