*.log
*.ngfactory.ts
*.ngstyle.ts
*.ngsummary.json
*.spec.ts
*.tgz
*.xml
/.vscode
/coverage
/e2e
/src
/tslint-formatters
/.angular-cli.json
/.editorconfig
/.npmignore
/circle.yml
/gulpfile.js
/index.ts
/karma.conf.js
/protractor.conf.js
/rollup.config.js
/test-results.xml
/tsconfig.json
/tslint.json
/yarn.lock