<app-scrollspy-nav-layout [headings]="headings">
  <h1>Cheat Sheet</h1>

  <markdown>
    The following examples are intended as a quick markdown reference and showcase. It is based on Adam Pritchard work of [Markdown Cheat Sheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet).
  </markdown>

  <section>
    <h2 id="headers">Headers</h2>
    <pre class="language-none">{{ headers$ | async }}</pre>
    <markdown [data]="headers$ | async"></markdown>
  </section>

  <section>
    <h2 id="emphasis">Emphasis</h2>
    <pre class="language-none">{{ emphasis$ | async }}</pre>
    <markdown [data]="emphasis$ | async"></markdown>
  </section>

  <section>
    <h2 id="lists">Lists</h2>
    <p>
      In this example, leading and trailing spaces are shown with with dots (⋅)
    </p>
    <pre class="language-none">{{ listsDot$ | async }}</pre>
    <markdown [data]="lists$ | async"></markdown>
  </section>

  <section>
    <h2 id="links">Links</h2>
    <pre class="language-none">{{ links$ | async }}</pre>
    <markdown
      [data]="links$ | async"
      [routerLinkOptions]="{
        paths: {
          '/syntax-highlight': {
            queryParams: {
              utm_source: 'markdown-cheat-sheet',
              utm_medium: 'link',
              utm_campaign: 'markdown-cheat-sheet'
            }
          }
        }
      }"
    ></markdown>
  </section>

  <section>
    <h2 id="images">Images</h2>
    <pre class="language-none">{{ images$ | async }}</pre>
    <markdown [data]="images$ | async"></markdown>
  </section>

  <section>
    <h2 id="code-and-synthax">Code and Syntax Highlighting</h2>
    <pre class="language-none">{{ codeAndSynthaxHighlighting$ | async }}</pre>
    <markdown [data]="codeAndSynthaxHighlighting$ | async"></markdown>
  </section>

  <section>
    <h2 id="tables">Tables</h2>
    <pre class="language-none">{{ tables$ | async }}</pre>
    <markdown [data]="tables$ | async"></markdown>
  </section>

  <section>
    <h2 id="blockquotes">Blockquotes</h2>
    <pre class="language-none">{{ blockquotes$ | async }}</pre>
    <markdown [data]="blockquotes$ | async"></markdown>
  </section>

  <section>
    <h2 id="horizontal-rule">Horizontal Rule</h2>
    <pre class="language-none">{{ horizontalRule$ | async }}</pre>
    <markdown [data]="horizontalRule$ | async"></markdown>
  </section>
</app-scrollspy-nav-layout>
