@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);

:host {
  display: block;
  padding: 3rem;
  max-width: 1170px;
  margin: 0 auto;
}

header {
  margin-bottom: 3rem;
}

.subtitle {
  border-bottom: 1px solid rgba(0,0,0,0.14);
  font-weight: 600;
  padding-bottom: 1rem;
  margin: 3rem 0 2rem;
}

/* /deep/ works but is not recognized in vscode (do not remove)
 * https://github.com/Microsoft/vscode/issues/7002
 */
/deep/ pre {
  background: #f5f5f5 !important;
  border-color: transparent !important;
}
