@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);

:host {
  display: block;
  padding: 3rem;
  max-width: 1170px;
  margin: 0 auto;
}

header {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  margin-bottom: 3rem;
}

.title {
  color: #c7254e;
}

.title-based-on {
  color: #690;
}

.subtitle {
  border-bottom: 1px solid rgba(0,0,0,0.14);
  padding-bottom: 1rem;
  margin: 3rem 0 2rem;
}

#{'/deep/'} pre {
  background: #f5f5f5 !important;
  border-color: transparent !important;
  margin-bottom: 24px;
  padding: 13px;
}

.pipe-usage,
.pipe-textarea,
.variable-binding,
.variable-textarea {
  width: 49%;

  @media (max-width: 900px) {
    width: 100%;
  }
}

.pipe-textarea,
.variable-textarea {
  border-radius: 4px;
  margin-top: 8px;
  min-height: 320px;
  padding: 8px;
}

.pipe-usage,
.variable-binding {
  display: block;
  float: right;
}
