<header>
  <h1>
    <a class="title" href="https://github.com/jfcere/ngx-markdown">ngx-markdown</a>
  </h1>
  <h4 class="title-based-on">
    demo based on <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">markdown cheatsheet</a>
  </h4>
</header>

<!-- TABLE OF CONTENT -->
<h2 class="subtitle">Table of contents</h2>

<ul>
  <li><a href="#headers">Headers</a></li>
  <li><a href="#emphasis">Emphasis</a></li>
  <li><a href="#lists">Lists</a></li>
  <li><a href="#links">Links</a></li>
  <li><a href="#images">Images</a></li>
  <li><a href="#code-and-synthax">Code and Syntax Highlighting</a></li>
  <li><a href="#tables">Tables</a></li>
  <li><a href="#blockquotes">Blockquotes</a></li>
  <li><a href="#horizontal-rule">Horizontal Rule</a></li>
  <li><a href="#remote-url">Remote Url</a></li>
  <li><a href="#variable-binding">Variable Binding</a></li>
</ul>

<!-- HEADER -->
<h2 id="headers" class="subtitle">Headers</h2>

<pre>
{{ headers }}
</pre>

<markdown>
{{ headers }}
</markdown>

<!-- EMPHASIS -->
<h2 id="emphasis" class="subtitle">Emphasis</h2>

<pre>
{{ emphasis }}
</pre>

<markdown>
{{ emphasis }}
</markdown>

<!-- LISTS -->
<h2 id="lists" class="subtitle">Lists</h2>

<p>
  In this example, leading and trailing spaces are shown with with dots (⋅)
</p>

<pre>
{{ listsDot }}
</pre>

<markdown>
{{ lists }}
</markdown>

<!-- LINKS -->
<h2 id="links" class="subtitle">Links</h2>

<pre>
{{ links }}
</pre>

<markdown>
{{ links }}
</markdown>

<!-- IMAGES -->
<h2 id="images" class="subtitle">Images</h2>

<pre>
{{ images }}
</pre>

<markdown>
{{ images }}
</markdown>

<!-- CODE AND SYNTAX HIGHLIGHTING -->
<h2 id="code-and-synthax" class="subtitle">Code and Syntax Highlighting</h2>

<pre>
{{ codeAndSynthaxHighlighting }}
</pre>

<markdown>
{{ codeAndSynthaxHighlighting }}
</markdown>

<!-- TABLES -->
<h2 id="tables" class="subtitle">Tables</h2>

<pre>
{{ tables }}
</pre>

<markdown>
{{ tables }}
</markdown>

<!-- BLOCKQUOTES -->
<h2 id="blockquotes" class="subtitle">Blockquotes</h2>

<pre>
{{ blockquotes }}
</pre>

<markdown>
{{ blockquotes }}
</markdown>

<!-- HORIZONTAL RULE -->
<h2 id="horizontal-rule" class="subtitle">Horizontal Rule</h2>

<pre>
{{ horizontalRule }}
</pre>

<markdown>
{{ horizontalRule }}
</markdown>

<!-- REMOTE URL -->
<h2 id="remote-url" class="subtitle">Remote Url</h2>

<markdown>
  Using component with `src` property to fetch remote markdown file `app/markdown-demo/remote/demo.md`
</markdown>

<markdown [src]="'app/markdown-demo/remote/demo.md'"></markdown>

<br />

<markdown>
  Using component with static `python` code block
</markdown>

<markdown>
```python
{{ demoPython }}
```
</markdown>

<br />

<markdown>
  Using directive with `src` property to fetch remote html file `app/markdown-demo/remote/demo.html`
</markdown>

<div markdown [src]="'app/markdown-demo/remote/demo.html'"></div>

<br />

<markdown>
  Using directive with `src` property to fetch remote C++ file `app/markdown-demo/remote/demo.cpp`
</markdown>

<div markdown [src]="'app/markdown-demo/remote/demo.cpp'"></div>

<!-- VARIABLE BINDING -->
<h2 id="variable-binding" class="subtitle">Variable Binding</h2>

<markdown>
  Using component or directive with `data` property allow to bind a variable that will update the DOM when value changes
</markdown>

<textarea class="variable-textarea" [(ngModel)]="markdown"></textarea>

<markdown class="variable-binding" [data]="markdown"></markdown>

<br /><br />

<markdown>
  Using `language` pipe you can specify the language of the variable content for synthax highlights
</markdown>

<markdown [src]="'app/markdown-demo/remote/language-pipe.html'"></markdown>
