<header>
  <h1>
    <a class="title" href="https://github.com/jfcere/ng2-markdown-to-html">ng2-markdown-to-html</a>
  </h1>
  <h4 class="title-based-on">
    demo based on <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">markdown cheatsheet</a>
  </h4>
</header>

<!-- TABLE OF CONTENT -->

<h2 class="subtitle">Table of contents</h2>

<ul>
  <li><a href="#headers">Headers</a></li>
  <li><a href="#emphasis">Emphasis</a></li>
  <li><a href="#lists">Lists</a></li>
  <li><a href="#links">Links</a></li>
  <li><a href="#images">Images</a></li>
  <li><a href="#code-and-synthax">Code and Syntax Highlighting</a></li>
  <li><a href="#tables">Tables</a></li>
  <li><a href="#blockquotes">Blockquotes</a></li>
  <li><a href="#horizontal-rule">Horizontal Rule</a></li>
  <li><a href="#remote-url">Remote Url</a></li>
</ul>

<!-- HEADER -->
<h2 id="headers" class="subtitle">Headers</h2>

<pre>
{{ headers }}
</pre>

<markdown-to-html>
{{ headers }}
</markdown-to-html>

<!-- EMPHASIS -->
<h2 id="emphasis" class="subtitle">Emphasis</h2>

<pre>
{{ emphasis }}
</pre>

<markdown-to-html>
{{ emphasis }}
</markdown-to-html>

<!-- LISTS -->
<h2 id="lists" class="subtitle">Lists</h2>

<p>
  In this example, leading and trailing spaces are shown with with dots (⋅)
</p>

<pre>
{{ listsDot }}
</pre>

<markdown-to-html>
{{ lists }}
</markdown-to-html>

<!-- LINKS -->
<h2 id="links" class="subtitle">Links</h2>

<pre>
{{ links }}
</pre>

<markdown-to-html>
{{ links }}
</markdown-to-html>

<!-- IMAGES -->
<h2 id="images" class="subtitle">Images</h2>

<pre>
{{ images }}
</pre>

<markdown-to-html>
{{ images }}
</markdown-to-html>

<!-- CODE AND SYNTAX HIGHLIGHTING -->
<h2 id="code-and-synthax" class="subtitle">Code and Syntax Highlighting</h2>

<pre>
{{ codeAndSynthaxHighlighting }}
</pre>

<markdown-to-html>
{{ codeAndSynthaxHighlighting }}
</markdown-to-html>

<!-- TABLES -->
<h2 id="tables" class="subtitle">Tables</h2>

<pre>
{{ tables }}
</pre>

<markdown-to-html>
{{ tables }}
</markdown-to-html>

<!-- BLOCKQUOTES -->
<h2 id="blockquotes" class="subtitle">Blockquotes</h2>

<pre>
{{ blockquotes }}
</pre>

<markdown-to-html>
{{ blockquotes }}
</markdown-to-html>

<!-- HORIZONTAL RULE -->
<h2 id="horizontal-rule" class="subtitle">Horizontal Rule</h2>

<pre>
{{ horizontalRule }}
</pre>

<markdown-to-html>
{{ horizontalRule }}
</markdown-to-html>

<!-- REMOTE URL -->
<h2 id="remote-url" class="subtitle">Remote url</h2>

<markdown-to-html>
  Using component with `src` property to fetch remote markdown file `app/markdown-demo/remote/demo.md`
</markdown-to-html>

<markdown-to-html [src]="'app/markdown-demo/remote/demo.md'"></markdown-to-html>

<br />

<markdown-to-html>
  Using component with static `python` code block
</markdown-to-html>

<markdown-to-html>
```python
{{ demoPython }}
```
</markdown-to-html>

<br />

<markdown-to-html>
  Using directive with `src` property to fetch remote html file `app/markdown-demo/remote/demo.html`
</markdown-to-html>

<div markdown-to-html [src]="'app/markdown-demo/remote/demo.html'"></div>

<br />

<markdown-to-html>
  Using directive with `src` property to fetch remote C++ file `app/markdown-demo/remote/demo.cpp`
</markdown-to-html>

<div markdown-to-html [src]="'app/markdown-demo/remote/demo.cpp'"></div>