<app-scrollspy-nav-layout [headings]="headings">
  <h1>Introduction</h1>

  <markdown>
    The following examples are intended as a quick markdown reference and showcase. It is based on Adam Pritchard work of [Markdown Cheat Sheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet).
  </markdown>

  <section>
    <h2 id="intro"></h2>
    <markdown emoji src="https://raw.githubusercontent.com/khushi-1305/ngx-markdown/master/demo/src/app/markdown/2.introduction.md"></markdown>
  </section>

  <section>
    <h2 id="glossary"></h2>
    <markdown emoji src="https://raw.githubusercontent.com/khushi-1305/ngx-markdown/master/demo/src/app/markdown/3.glossary.md"></markdown>
  </section>

</app-scrollspy-nav-layout>