@import "~@angular/material/theming";

$primary: (
  50 : #d6ebff,
  100 : #8ac4ff,
  200 : #52a8ff,
  300 : #0a85ff,
  400 : #0075eb,
  500 : #0066cc,
  600 : #0057ad,
  700 : #00478f,
  800 : #003870,
  900 : #002952,
  A100 : #cce5ff,
  A200 : #66b2ff,
  A400 : #007fff,
  A700 : #0073e6,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $light-primary-text,
    400 : $light-primary-text,
    500 : $light-primary-text,
    600 : $light-primary-text,
    700 : $light-primary-text,
    800 : $light-primary-text,
    900 : $light-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $light-primary-text,
    A700 : $light-primary-text,
  )
);

$light-primary: mat-palette($primary);
$light-accent: mat-palette($primary);
$light-warn: mat-palette($mat-red);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
