<app-scrollspy-nav-layout [headings]="headings">
  <h1>Authorization</h1>

  <section>
    <h2 id="auth"></h2>
    <markdown emoji src="https://raw.githubusercontent.com/khushi-1305/ngx-markdown/master/demo/src/app/markdown/6.authorization.md"></markdown>
  </section>

  <section>
    <h2 id="apis"></h2>
    <markdown emoji src="https://raw.githubusercontent.com/khushi-1305/ngx-markdown/master/demo/src/app/markdown/7.authorization-service.md"></markdown>
  </section>

</app-scrollspy-nav-layout>