<div class="fixed-action-btn">
  <button class="blue btn-floating btn-large waves-effect waves-light scale-transition scale-out" (click)="onPageUp()">
    <svg class="center" style="width:32px;height:32px" viewBox="0 0 24 24">
      <path fill="#ffffff" d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z" />
    </svg>
  </button>
</div>

<div class="row">
  <!-- TABLE OF CONTENT -->
  <div class="col s12 l3">
    <div class="table-of-contents">
      <h1 class="title">
        <a href="https://github.com/jfcere/ngx-markdown">ngx-markdown</a>
      </h1>
      <div class="title-based-on">
        demo based on <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">markdown cheatsheet</a>
      </div>
      <ul>
        <li class="menu-subtitle"><span>Markdown</span></li>
        <li><a href="#headers">Headers</a></li>
        <li><a href="#emphasis">Emphasis</a></li>
        <li><a href="#lists">Lists</a></li>
        <li><a href="#links">Links</a></li>
        <li><a href="#images">Images</a></li>
        <li><a href="#code-and-synthax">Code and Syntax Highlighting</a></li>
        <li><a href="#tables">Tables</a></li>
        <li><a href="#blockquotes">Blockquotes</a></li>
        <li><a href="#horizontal-rule">Horizontal Rule</a></li>
        <li class="menu-subtitle"><span>Bindings</span></li>
        <li><a href="#remote-url">Remote Url</a></li>
        <li><a href="#variable-binding">Variable Binding</a></li>
        <li><a href="#pipe">Pipe Usage</a></li>
        <li class="menu-subtitle"><span>Plugins</span></li>
        <li><a href="#line-numbers">Line Numbers</a></li>
        <li><a href="#line-highlight">Line Highlight</a></li>
        <li><a href="#katex">KaTeX</a></li>
        <li><a href="#clipboardjs">ClipboardJS</a></li>
      </ul>
    </div>
  </div>

  <div class="col s12 l9">
    <!-- HEADER -->
    <section id="headers">
      <h2 class="subtitle">Headers</h2>

      <pre>{{ headers }}</pre>

      <markdown>{{ headers }}</markdown>
    </section>

    <!-- EMPHASIS -->
    <section id="emphasis">
      <h2 class="subtitle">Emphasis</h2>

      <pre>{{ emphasis }}</pre>

      <markdown>{{ emphasis }}</markdown>
    </section>

    <!-- LISTS -->
    <section id="lists">
      <h2 class="subtitle">Lists</h2>

      <p>
        In this example, leading and trailing spaces are shown with with dots (⋅)
      </p>

      <pre>{{ listsDot }}</pre>

      <markdown>{{ lists }}</markdown>
    </section>

    <!-- LINKS -->
    <section id="links">
      <h2 class="subtitle">Links</h2>

      <pre>{{ links }}</pre>

      <markdown>{{ links }}</markdown>
    </section>

    <!-- IMAGES -->
    <section id="images">
      <h2 class="subtitle">Images</h2>

      <pre>{{ images }}</pre>

      <markdown>{{ images }}</markdown>
    </section>

    <!-- CODE AND SYNTAX HIGHLIGHTING -->
    <section id="code-and-synthax">
      <h2 class="subtitle">Code and Syntax Highlighting</h2>

      <pre>{{ codeAndSynthaxHighlighting }}</pre>

      <markdown>{{ codeAndSynthaxHighlighting }}</markdown>
    </section>

    <!-- TABLES -->
    <section id="tables">
      <h2 class="subtitle">Tables</h2>

      <pre>{{ tables }}</pre>

      <markdown>{{ tables }}</markdown>
    </section>

    <!-- BLOCKQUOTES -->
    <section id="blockquotes">
      <h2 class="subtitle">Blockquotes</h2>

      <pre>{{ blockquotes }}</pre>

      <markdown>{{ blockquotes }}</markdown>
    </section>

    <!-- HORIZONTAL RULE -->
    <section id="horizontal-rule">
      <h2 class="subtitle">Horizontal Rule</h2>

      <pre>{{ horizontalRule }}</pre>

      <markdown>{{ horizontalRule }}</markdown>
    </section>

    <!-- REMOTE URL -->
    <section id="remote-url">
      <h2 class="subtitle">Remote Url</h2>

      <markdown>
        Using component with `src` property to fetch remote markdown file `app/remote/demo.md`
      </markdown>

      <markdown [src]="'app/remote/demo.md'"></markdown>

      <br />

      <markdown>
        Using component with static `python` code block
      </markdown>

      <markdown>{{ demoPython | language: 'python' }}</markdown>

      <br />

      <markdown>
        Using directive with `src` property to fetch remote html file `app/remote/demo.html`
      </markdown>

      <div markdown [src]="'app/remote/demo.html'"></div>

      <br />

      <markdown>
        Using directive with `src` property to fetch remote C++ file `app/remote/demo.cpp`
      </markdown>

      <div markdown [src]="'app/remote/demo.cpp'"></div>
    </section>

    <!-- VARIABLE BINDING -->
    <section id="variable-binding">
      <h2 class="subtitle">Variable Binding</h2>

      <markdown>
        Using component or directive with `data` property allow to bind a variable that will update the DOM when value changes
      </markdown>

      <textarea class="variable-textarea" [(ngModel)]="markdown"></textarea>

      <markdown class="variable-binding" [data]="markdown"></markdown>

      <br /><br />

      <markdown>
        Using `language` pipe you can specify the language of the variable content for synthax highlights
      </markdown>

      <markdown [src]="'app/remote/language-pipe.html'"></markdown>
    </section>

    <!-- PIPE USAGE -->
    <section id="pipe">
      <h2 class="subtitle">Pipe Usage</h2>

      <markdown>
        Using `markdown` pipe to transform markdown to HTML allow you to chain pipe transformations and will update the DOM when value changes
      </markdown>

      <markdown [src]="'app/remote/markdown-pipe.html'"></markdown>

      <br />

      <markdown>
        In the following example using the synthax above, `typescriptMarkdown` property does not contain any `back-ticks` to set the content language but will be chain with `language` pipe instead to specify synthax highlights language along with `markdown` pipe for conversion
      </markdown>

      <textarea class="pipe-textarea" [(ngModel)]="typescriptMarkdown"></textarea>
      <div class="pipe-usage" [innerHTML]="typescriptMarkdown | language : 'typescript' | markdown"></div>
    </section>

    <!-- PLUGINS - LineNumbers -->
    <section id="line-numbers">
      <h2 class="subtitle">Line Numbers plugin</h2>

      <markdown ngPreserveWhitespaces>
        #### Prism files to include
        ```javascript
        node_modules/prismjs/plugins/line-numbers/prism-line-numbers.css
        node_modules/prismjs/plugins/line-numbers/prism-line-numbers.js
        ```
        #### Directive
        `lineNumbers` - activate line numbers plugin
        #### Attributes
        `start` - offset number for the first display line
        ### Example
      </markdown>

      <markdown>
        Using `lineNumbers` input property on `markdown` component or directive (this is not available when using pipe or service) allows you to add line number at the beginning of each lines of code block.
      </markdown>

      <markdown [src]="'app/remote/line-numbers.html'"></markdown>

      <markdown>
        The example below uses `lineNumbers` directive which uses default line offset of 1.
      </markdown>

      <markdown lineNumbers ngPreserveWhitespaces>
        ```javascript
        var result = square(2);

        function square(number) &#123;
          return number * number;
        }
        ```
      </markdown>

      <markdown>
        Optionally you can use `start` to specify the offset number for the first display line.
      </markdown>

      <markdown>
        In the example below line offset is set to 5 using `start` input property.
      </markdown>

      <markdown lineNumbers [start]="5" ngPreserveWhitespaces>
        ```javascript
        var result = root(2);

        function root(x, n) &#123;
          try &#123;
            var negate = n % 2 == 1 && x < 0;
            if(negate)
              x = -x;
            var possible = Math.pow(x, 1 / n);
            n = Math.pow(possible, n);
            if(Math.abs(x - n) < 1 && (x > 0 == n > 0))
              return negate ? -possible : possible;
          } catch(e)&#123; }
        }
        ```
      </markdown>
    </section>

    <!-- PLUGIN - LineHighlight -->
    <section id="line-highlight">
      <h2 class="subtitle">Line Highlight plugin</h2>

      <markdown ngPreserveWhitespaces>
        #### Prism files to include
        ```javascript
        node_modules/prismjs/plugins/line-highlight/prism-line-highlight.css
        node_modules/prismjs/plugins/line-highlight/prism-line-highlight.js
        ```
        #### Directive
        `lineHighlight` - activate line highlight plugin
        #### Attributes
        `line` - lines to highlight (i.e.: 6, 11-15)<br>
        `lineOffset` - starting offset for line numbers
        ### Example
      </markdown>

      <markdown ngPreserveWhitespaces>
        You can highlight different lines by adding `lineHighlight` directive on the `markdown` component/directive.

        Use `line` input property to specify the line(s) to highlight and optionally there is a `lineOffset` property to specify the starting line of code your snippet represents.
      </markdown>

      <markdown [src]="'app/remote/line-highlight.html'"></markdown>

      <markdown>
        In the example below `line` 6 and 10 to 16 are highlight using a `lineOffset` of 5.
      </markdown>

      <markdown lineHighlight [line]="'6, 10-16'" [lineOffset]="5" ngPreserveWhitespaces>
        ```javascript
        var result = root(2);

        function root(x, n) &#123;
          try &#123;
            var negate = n % 2 == 1 && x < 0;
            if(negate)
              x = -x;
            var possible = Math.pow(x, 1 / n);
            n = Math.pow(possible, n);
            if(Math.abs(x - n) < 1 && (x > 0 == n > 0))
              return negate ? -possible : possible;
          } catch(e)&#123; }
        }
        ```
      </markdown>
    </section>

    <!-- PLUGIN - KaTeX -->
    <section id="katex">
      <h2 class="subtitle">KaTeX plugin</h2>

      <markdown ngPreserveWhitespaces>
        #### KaTeX files to include
        ```javascript
        node_modules/katex/dist/katex.min.css
        node_modules/katex/dist/katex.min.js
        ```
        #### Directive
        `katex` - activate KaTeX plugin
        #### Attributes
        `katexOptions` - math rendering [options](https://katex.org/docs/options.html)<br>
        ### Example
      </markdown>

      <markdown>
        You can render KaTex expression by adding `katex` directive on the `markdown` component/directive.
      </markdown>

      <markdown [src]="'app/remote/katex.html'"></markdown>

      <markdown>
        The example below illustrate `katex` directive in action.
      </markdown>

      <textarea class="katex-textarea" [(ngModel)]="katexMarkdown"></textarea>
      <markdown class="katex-usage" [data]="katexMarkdown" katex></markdown>

      <markdown ngPreserveWhitespaces>
        Optionally, you can specify math rendering [options](https://katex.org/docs/options.html) using `katexOptions` property.

        **example.component.ts**
        ```typescript
        import &#123; KatexOptions } from 'ngx-markdown';

        public options: KatexOptions = &#123;
          displayMode: true,
          throwOnError: false,
          errorColor: '#cc0000',
          ...
        };
        ```

        **example.component.html**
      </markdown>

      <markdown [src]="'app/remote/katex-options.html'"></markdown>
    </section>

    <!-- PLUGIN - ClipboardJS -->
    <section id="clipboardjs">
      <h2 class="subtitle">ClipboardJS plugin</h2>

	    <markdown ngPreserveWhitespaces>
        #### ClipboardJS file to include
        ```javascript
        node_modules/clipboard/dist/clipboard.min.js
        ```
		    #### Styles to import
        ```css
        @import "ngx-markdown/src/styles/markdown-copier.css";
        ```
        #### Events
        `buttonClick: EventEmitter&lt;Element&gt;` - Event emitter that is fired when a code snippet is copied to clipboard. Subscribing to it enables copy to clipboard buttons for code snippets. Buttons appear on hover.
        ### Example
      </markdown>

      <markdown (buttonClick)="onCopyClick()" ngPreserveWhitespaces>

        **example.component.ts**
        ```typescript
        onCopyClick(element: any) = &#123;
          this.toastr.success('Copied to clipboard!');
        };
        ```

        **example.component.html**
      </markdown>
      <markdown (buttonClick)="onCopyClick()" [src]="'app/remote/clipboardjs.html'"></markdown>
    </section>
  </div>
</div>
